.chat-section {
    /* width: 67vw; */
    height: 19vh;
    position: relative;
    /* bottom: 0; */
    /* bottom: 100px; */
    background-color: var(--background-elem-color);
    border: var(--border-color) solid 2px;
    border-radius: 18px;
    /* margin-left: 26px; */
    /* margin: 0 0 26px; */
    /* margin-right: 18px; */
}