:root {
    --black-color-choose: url('./king_black.svg');
    --white-color-choose: url('./king_white.svg');
    --random-color-choose: url('./black_white.svg');
    --border-color: #3D3243;
    --background-haky-color: #19272A;
    --background-elem-color: #222A30;
    /* background: #222A30;
    border: #3D3243 solid 2px;
    background: #19272A; */

    
}
::-webkit-scrollbar {
  width: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-haky-color);
    user-select: none;
    
}
main {
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    
    
  } 

   .main-wrapper {
    justify-content: space-between;
    
    display: flex;
    
    
  }  

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .game-search {
    display: flex;
    flex-direction: column;
    width:44vw;
    align-items: center;
    
  }
  
  
  
  
  
  #active-games-menu{
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  