:root {
    --black-color-choose: url('./king_black.svg');
    --white-color-choose: url('./king_white.svg');
    --random-color-choose: url('./black_white.svg');
    --border-color: #3D3243;
    --background-haky-color: #19272A;
    --background-elem-color: #222A30;
    --text-color: black;
    /* background: #222A30;
    border: #3D3243 solid 2px;
    background: #19272A; */

    
}
::-webkit-scrollbar {
  width: 0;
}


html{
  height: 100%;
  
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-haky-color);
  user-select: none;
  min-height: 100%; 
  display: flex;
  flex-direction: column;
  color: var(--text-color)
}
main {
  display: flex;
  /* overflow: auto; */
  flex: 1;
  /* grid-template-columns: 1fr 1fr; */
  height: 100%;
  margin-bottom: 26px;
} 
.wrapper {
  width: 69%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 26px;
}



   .main-wrapper {
    justify-content: space-between;
    display: flex;
    
    /* height: 52vh; */
  }  



  .game-search {
    display: flex;
    flex-direction: column;
    width:44vw;
    align-items: center;
    height: 52vh;
    
  }
  
  
  
  
  

  
