footer {
    background: var(--background-elem-color);
    /* background: blue; */
    color: var(--text-color);
    text-align: center;
    padding: 10px 0px;
    position: relative;
    bottom: 0px;
	width: 100%;
	height: 28px;
    /* box-sizing: border-box; */
}

footer h4 {
    margin: 10px;
}
